[*]
root = true

[*.{appxmanifest,asax,ascx,aspx,axaml,build,cg,cginc,compute,cs,cshtml,dtd,hlsl,hlsli,hlslinc,master,nuspec,paml,razor,resw,resx,skin,usf,ush,vb,xaml,xamlx,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true

[*.cs]
resharper_convert_type_check_pattern_to_null_check_highlighting = none
resharper_nullable_warning_suppression_is_used_highlighting = none
# there's a lot of these (1 for every unimplemented solution)
resharper_unused_parameter_local_highlighting = none
